!.gitignore
.idea/
nbproject/
exp.txt

.DS_Store

tmp/**
tmp/**/*
*.tmp
*.bak
*.swp
*~.nib

# Thumbnails
._*

# Files that might appear on external disk
.Spotlight-V100
.Trashes

# SublimeText project files
/*.sublime-project

# Windows image file caches
Thumbs.db

# Folder config file
Desktop.ini

/node_modules/


node_modules/

