@font-face {
    font-family: 'source-sans-pro';
    src: url('../fonts/sourcesanspro-light-webfont.eot');
    src: url('../fonts/sourcesanspro-light-webfont.eot?#iefix') format('embedded-opentype'),
    url('../fonts/sourcesanspro-light-webfont.woff') format('woff'),
    url('../fonts/sourcesanspro-light-webfont.ttf') format('truetype'),
    url('../fonts/sourcesanspro-light-webfont.svg#source_sans_prolight') format('svg');
    font-weight: 300;
    font-style: normal;

}

@font-face {
    font-family: 'source-sans-pro';
    src: url('../fonts/sourcesanspro-regular-webfont.eot');
    src: url('../fonts/sourcesanspro-regular-webfont.eot?#iefix') format('embedded-opentype'),
    url('../fonts/sourcesanspro-regular-webfont.woff') format('woff'),
    url('../fonts/sourcesanspro-regular-webfont.ttf') format('truetype'),
    url('../fonts/sourcesanspro-regular-webfont.svg#source_sans_proregular') format('svg');
    font-weight: 400;
    font-style: normal;

}

@font-face {
    font-family: 'source-sans-pro';
    src: url('../fonts/sourcesanspro-semibold-webfont.eot');
    src: url('../fonts/sourcesanspro-semibold-webfont.eot?#iefix') format('embedded-opentype'),
    url('../fonts/sourcesanspro-semibold-webfont.woff') format('woff'),
    url('../fonts/sourcesanspro-semibold-webfont.ttf') format('truetype'),
    url('../fonts/sourcesanspro-semibold-webfont.svg#source_sans_prosemibold') format('svg');
    font-weight: 600;
    font-style: normal;

}

@font-face {
    font-family: 'source-code-pro';
    src: url('../fonts/sourcecodepro-regular-webfont.eot');
    src: url('../fonts/sourcecodepro-regular-webfont.eot?#iefix') format('embedded-opentype'),
    url('../fonts/sourcecodepro-regular-webfont.woff') format('woff'),
    url('../fonts/sourcecodepro-regular-webfont.ttf') format('truetype'),
    url('../fonts/sourcecodepro-regular-webfont.svg#source_code_proregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

body {
    min-width: 300px;
    font: 16px/1.2em 'source-sans-pro', Arial, Helvetica Neue;
    color: #F0F1F1;
    background: #4A4D4E;
    -webkit-font-smoothing: antialiased;
}
/*-----------------------------------*/

div[data-role=view] {
    background-color: #4A4D4E;
}
.container div[data-role=view] {
    position: static;
    height: auto;
}








/* Mainly styles*/

.main,
.top-bar,
.bottom-bar {
    position: absolute;
}
.top-bar {
    z-index: 10;
    top:0;
    left:0;
    height: 4.375rem;
    width: 100%;
}
.bottom-bar {
    z-index: 10;
    left:0;
    bottom: 0;
    width: 100%;
    height: 3rem;
}
.main {
    top:0;
    left:0;
    right:0;
    bottom:0;
}
.top-bar ~ .main {
    top: 4.375rem;
}
.bottom-bar ~ .main {
    bottom: 3rem;
}
.content {
    padding: 15px;
}
.container
/*-----------------------------------*/
.topcoat-navigation-bar div[data-role=view] {
    background: transparent;
}
.form-options {
    margin: 0 0 15px;
}
.form-options .topcoat-radio-button {
    display: block;
    margin: -20px;
    padding: 20px;
    cursor: pointer;
}

/* Additional styles*/
.extra-margin {
    margin: 20px;
}
.extra-margin--top {
    margin-top:20px;
}
.extra-margin--bottom {
    margin-bottom:20px;
}
.extra-margin--top-bottom {
    margin: 20px 0;
}
.bottom-bar {
    width: 100%;
}
.bottom-bar .topcoat-tab-bar__item {
    border-right: 1px solid #333434;
}
.bottom-bar button{
    display: block;
    width: 100%;
}
.bottom-bar .topcoat-tab-bar__item:last-child{
    border-right: none;
}

.topcoat-list-margin{
    margin-bottom: 20px;
}
.border-none{
    border: none !important;
}
.only-bottom-border-radius{
    border-radius: 0 0 8px 8px !important;
}
/*-----------------------------------*/




/* Article */
.section{
    font-size: 0.9em;
    border-top: 1px solid #333434;
}
.section__header {
    margin: 0;
    padding: 4px 20px;
    font-size: 1em;
    font-weight: 400;
    background-color: #3f4041;
    color: #c6c8c8;
    text-shadow: 0 1px 0 rgba(255,255,255,0.1);
    border-top: 1px solid rgba(255,255,255,0.1);
    border-bottom: 1px solid rgba(255,255,255,0.05);
}
.section img{
    width: 200px;
    height: 200px;
    float: left;
    margin: 0 15px 15px 0;
}
.section__content {
    padding: 10px 20px;
    border-top: 1px solid #333434;
    overflow: hidden;
}
.section__content p {
    margin: 0 0 10px;
}

/*-----------------------------------*/
.receiver {
    padding: 5px;
    margin: 5px 0;
    background: #454646;
    min-height: 24px;
    line-height: 24px;
}
.text-overflow {
    text-overflow: ellipsis !important;
    word-wrap: break-word;
    overflow: hidden !important;
}
/*-----------------------------------*/




/* Console */
#console{
    position: relative;
    background: #595b5b;
    width: 100%;
    height: 69px;
    font-size: 12px;
}
#console div[data-role="view"] {
    background: #595b5b;
}
.console-wrapper{
    padding: 5px
}
/*-----------------------------------*/


/* Popup-anchor */
.anchor {
    display: inline-block;
    padding: 0 1.25rem;
    font-size: 16px;
    line-height: 3rem;
    color: #c6c8c8;
    background-color: #595b5b;
    border: 1px solid #333434;
    border-radius: 6px;
}
/*-----------------------------------*/



.topcoat-checkbox__checkmark,
.topcoat-radio-button__checkmark{
    margin-right: 10px;
}
.topcoat-list__item,
.topcoat-navigation-bar{
    position: relative;
}
.topcoat-list__item .fa-angle-right{
    position: absolute;
    right: 10px;
    font-size: 20px;
}

.topcoat-navigation-bar .topcoat-icon-button {
    vertical-align: middle;
}
.topcoat-navigation-bar .fa-angle-left,
.topcoat-navigation-bar .fa-bars {
    display: block;
    width: 24px;
    height: 48px;
    line-height: 48px;
    font-size: 30px;
}
.topcoat-navigation-bar .fa-bars {
    font-size: 28px;
    line-height: 50px;
}

/* fix-forms for firefox */
.topcoat-text-input,
.topcoat-text-input--large {
    height: 50px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
}
/*-----------------------------------*/



/* Modal views and PopUp */
.popup-view {
    position: absolute;
    z-index: 100;
    max-width: 250px;
    padding: 10px;
    color:#000;
    background: #e5e9e8;
    border-radius: 8px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
}
.popup-view-holder {
    position: absolute;
    top:10px;
    left:10px;
    right: 10px;
    bottom:10px;
}

div.modal-view {
    width: 95%;
    min-width: 250px;
    max-width: 400px;
    color:#000;
    padding: 20px 10px;
    background: #e5e9e8;
    border-radius: 8px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
}
.toast {
    text-align: center;
}
.toast__title {
    font-size: 1em;
    margin: 0 0 10px;
    padding: 0 0 5px;
    border-bottom: 1px solid #d3d7d7;
}
.toast__content {

}
.modal-view__header {
    margin: 0;
    padding: 0 0 20px;
    text-align: center;
    border-bottom: 1px solid #d3d7d7;
}
.modal-view__header h2 {
    margin: 0;
    font-size: 2rem;
    font-weight: 400;
}
.modal-view__content {

}
.switch-label {
    display: inline-block;
    vertical-align: middle;
    margin: 0 10px;
}
.topcoat-list .topcoat-switch {
    vertical-align: middle;
}
/* fix problem when placed inside iscroll */
.scroll-view .topcoat-switch {
    -webkit-perspective: 100;
    perspective: 100;
}



/* media screen */
@media screen and (max-width: 400px) {
    .section img {
        display: block;
        width:100%;
        height: auto;
    }
    .bar__title,
    .sub-title-block,
    .sub-title{
        text-align: center;

    }
    .topcoat-button--cta{
        display: block;
        width: 100%;
    }
    .responsive-width-full {
        width: 100%;
    }
    .topcoat-text-input + .topcoat-button--cta {
        margin: 10px 0;
    }
}/*-----------------------------------*/
